*{ margin:0; padding:0; }
body{ font-size:11px; color:#005775; background:#dadada; font:normal 11px Tahoma; padding:0px 0px 0px 0px; margin-top:0px; }
ul,ol,li{ list-style:none; }
a{ color:#000; text-decoration:none; cursor:pointer; }
a:hover{ color:#c00; }
img{ border:none; }

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height:1%; }
.clearfix { display:block; }
/* End hide from IE-mac */


.h4forcus_body {background: url(http://www.hihihehe.com/forcus/2010/h4forcus_body_bg.gif); font-size: 11px; height:266px; width: 960px; margin: 0px auto; margin-top: 0px; text-align: center;}


/* Aili_picBox */
.Aili_picBox2{ width:650px; height:140px; border-top:1px solid #FFFFFF; overflow:hidden; margin-top:0px; }
.Aili_tit2{ width:650px; height:25px; background:url(http://www.hihihehe.com/f/images/misc/section_menu_cms_bg.gif) repeat-x; border-bottom:1px solid #FFFFFF; line-height:25px; margin:0 auto; padding-left:2px; position:relative;}
.Aili_tit2 h3{ float:left; width:60px; height:30x; background:url(http://www.hihihehe.com/f/images/misc/section_menu_cms_bg.gif) no-repeat left 2px; font:bold 14px/31px "arial"; color:#787878; padding-left:2px; }
.Aili_tit2 ul{ float:left; width:600px; height:25px; }
.Aili_tit2 ul li{ float:left; }
.Aili_tit2 ul li a{ font-size:12px; font-weight:bold; color:#FFFFFF; padding-left:10px; padding-right:10px; }
.Aili_tit2 ul li a.cur{ color:#00baff; background: white; }
.Aili_tit2 table{ float:left; width:600px; overflow:hidden; }
.Aili_tit2 td{ height:20px; line-height:20px; overflow:hidden; }
.Aili_tit2 td a{ color:#007d92; line-height:24px; background:url(../images/ico_gyp_1.png) no-repeat left 4px; padding-left:8px; margin-right:10px; }

/* Aili listpic */
.Aili_picBox2 .list_pic{ width:670px; height:auto; overflow:hidden; padding:0px 0px 0px 0px; }
.Aili_picBox2 .list_pic li{ display:inline; float:left; width:124px; height:auto; margin:0 10px 0px 0; overflow:hidden;}
.Aili_picBox2 .list_pic li a img{ display:block; width:124px; height:90px; font-size:0%; }
.Aili_picBox2 .list_pic li span{ display:block; width:124px; height:20px; line-height:20px; text-align:center; }
.Aili_picBox2 .list_pic li span a{ display:block; color:#006699; background:#c1efff; text-align:center; }
.Aili_picBox2 .list_pic li span a:hover{ color:#FFFFFF; background:#ff0090; }





/* aili health */
.health{ width:650px; height:115px; border-top:1px solid #ebebeb; overflow:hidden; margin-top:0px; }
.health_tit{ width:646px; height:31px; background:url(../images/tit635_bg.png) repeat-x; border-bottom:1px solid #eaeaea; line-height:31px; margin:0 auto; padding-left:3px; position:relative;}
.health_tit h3{ float:left; width:97px; height:28px; }
.health_tit table{ float:right; width:320px; overflow:hidden; }
.health_tit td{ height:31px; line-height:31px; overflow:hidden; }
.health_tit td a{ color:#7f7f7f; line-height:24px; background:url(../images/ico_gyp_1.png) no-repeat left 4px; padding-left:8px; margin-right:0px; }
.healthBox{ width:600px; height:110px; padding-top:0px; padding-bottom:0px; padding-left:0px; }
.healthBox .picNews{ float:left; width:600px; height:110px; }
.healthBox .listNews{ float:right; width:484px; height:auto; }
.healthBox .listNews dl{ float:left; width:234px; padding-left:8px; }
.healthBox .listNews dt{ float:left; width:48px; height:22px; background:#254808; margin-bottom:5px; text-align:center; }
.healthBox .listNews dt a{ font:bold 14px/22px "ו"; color:#f6fff4; }
.healthBox .listNews dd{ float:right; width:182px; height:22px; padding-left:4px; overflow:hidden; margin-bottom:5px; }
.healthBox .listNews dd a{ font:normal 14px/22px "ו"; color:#302d28; }




.mt10{ margin-top:10px; }
.pb10{ padding-bottom:10px; }